*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.card{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 30rem;
    aspect-ratio: 16/8;
    padding: 2rem;
    background: linear-gradient(to right, rgb(14, 14, 14), rgb(96, 96, 96));
    border-radius: 1rem;
    user-select: none;
}
#song{
    margin-bottom: 1.8rem;
    font-size: 0.8rem;
    color: rgb(176, 176, 176);
}
#song span:nth-child(2){
    color: green;
    text-decoration: underline;
}
#pbar{
    width: 100%;
    background-color: gray;
    height: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}
#prog{
    width: 0%;
    background-color: rgb(63, 172, 48);
    height: 100%;
    border-radius:23px ;
    display: flex;
    justify-content: center;
    align-items: center;

}
#per{
    font-size: 0.7rem;
    margin-top: 0.3rem;
}
#dbtn{
    background-color: rgb(57, 127, 48);
    padding: 0.7rem 1.4rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all ease 0.2s;

}
#dbtn:active{
    scale: 0.80;
    background-color: rgb(118, 118, 118);
}