*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(214, 214, 214);
}

main {
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    box-shadow: 4px 4px 15px rgb(86, 86, 86);
    width: 20rem;
    background-color: #261a00;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 14px;
    transition: all ease 0.3s;
    border: 5px solid rgb(97, 84, 11);
}

.watch-container {
    width: 15rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 0.4rem;
    transition: all ease 0.3s;
}

img {
    object-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#des {
    font-size: 0.7rem;
    font-weight: 100;
    width: 70%;
}

#price {
    font-size: 1rem;
}

.card:hover {
    scale: 1;
}
.card:hover .watch-container {
    scale: 2;
  transform: perspective(500px) rotateX(1deg);
  rotate: 15deg;
}

