*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
@font-face {
  font-family: "instasans";
  src: url("Billabong.otf") format("truetype");
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.mobile {
    width: 16rem;
    background-color: rgb(233, 233, 233);
    aspect-ratio: 8/16;
    border: 5px solid black;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

#island {
    position: absolute;
    top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 4.5rem;
    height: 1.3rem;
    background-color: black;
    border-radius: 100px;
}
.nav{
    padding: 0.3rem;
    display: flex;
    margin-top: 1.8rem;
    align-items: center;
    justify-content: space-between;
}
.nav i{
    font-size: 1.4rem;
}
#logo{
    font-size: 1.5rem;
    font-family: instasans;
}
.stories {
    padding-left: 0.3rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.story-area {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding: 2px;
}

.story {
    border: 3px solid white;
    border-radius: 100%;
    overflow: hidden;
    width: 3.2rem;
    aspect-ratio: 1/1;
}

.story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.stories::-webkit-scrollbar {
    display: block;
}

.full{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #962fbf;
    position: absolute;
    background-position: center;
    background-size: cover;
    display: none;
    position: relative;
}
.full i{
    position: absolute;
    left: 15px;
    top: 52px;
    color: white;
    mix-blend-mode: difference;
}

